*{
    margin:0;
    padding:0;
    font-family:'simsun',Arial, Helvetica, sans-serif;
}

a{
    text-decoration:none;
}

main{
    text-align: center;
}

#main{
    display: inline-block;
}

#main > div:nth-child(2){
    /* margin-left: 1em; */
}

#main > div:nth-child(3){
    /* margin-left: 2em; */
}

kbd {
    margin:3px;
    border:1px solid red;
    border-radius:4px;
    width:4em;
    height:4em;
    text-transform: uppercase;
    display:inline-block;
    position: relative;
}

kbd > button {
    position: absolute;
    right:0;
    bottom:0;
    display:none;
}

kbd:hover > button {
    display:inline-block;
}

kbd > img {
    width:28px;
    height:28px;
}
